@font-face {
    font-family: 'trajanpro3-regular';
    src: url('../fonts/trajanpro3-regular.eot');
    src: url('../fonts/trajanpro3-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trajanpro3-regular.woff') format('woff'),
         url('../fonts/trajanpro3-regular.ttf') format('truetype'),
         url('../fonts/trajanpro3-regular.otf') format('otf');
}
@font-face {
    font-family: 'trajanpro3-bold';
    src: url('../fonts/trajanpro3-bold.eot');
    src: url('../fonts/trajanpro3-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trajanpro3-bold.woff') format('woff'),
         url('../fonts/trajanpro3-bold.ttf') format('truetype'),
         url('../fonts/trajanpro3-bold.otf') format('otf');
}