* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'trajanpro3-regular';
    color: #212121;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 30px;
    color: white;
}
h4 {
    font-size: 17px;
}
p, a, ul, li, input, label, button, textarea {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    font-size: 14px;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a {
    color: #212121;
    text-decoration: none;
}
a:hover {
    color: #2e9f93;
}
input[type="text"] {
    padding: 0 8px;
    border: 1px solid #212121;
    font-size: 13px;
    color: #212121;
}
.wrap {
    margin: auto;
    width: 1220px;
}

/* Header
------------------------------------------------------------------------------------ */
.header .cabinet_enter {
    text-align: center;
    padding: 10px 0;
}
.header .cabinet_enter a {
    font-size: 14px;
    margin: 0 15px;
}
.header a.logo {
    float: left;
    margin-top: -20px;
}
.header .header_center {
    width: 550px;
    margin: auto;
}
.header .header_center .search {
    position: relative;
}
.header .header_center .search input[type="text"] {
    width: 100%;
    height: 37px;
    padding-right: 35px;
}
.header .header_center .search input[type="button"] {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: url(../img/search.png) no-repeat center;
}
.header .header_center .nav {
    padding-top: 20px;
    text-align: justify;
    width: 100%;
}
.header .header_center .nav:after {
    content: "";
    width: 100%;
    display: inline-block;
}
.header .header_center .nav li {
    display: inline;
    font-size: 17px;
}
.header .header_center .nav li.active a {
    color: #2e9f93;
}
.header .cart_container {
    float: right;
    text-align: right;
}
.header .cart_container .cart_nav a {
    background: url(../img/icons.png) no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 15px;
}
.header .cart_container .cart_nav a.delivery {
    background-position: -38px 0;
}
.header .cart_container .cart_nav a.confirm {
    background-position: -78px 0;
}
.header .cart_container .cart_nav a.call {
    background-position: -118px 0;
}
.header .cart_container .cart_nav a.payment:hover {
    background-position: 0 -40px;
}
.header .cart_container .cart_nav a.delivery:hover {
    background-position: -38px -40px;
}
.header .cart_container .cart_nav a.confirm:hover {
    background-position: -78px -40px;
}
.header .cart_container .cart_nav a.call:hover {
    background-position: -118px -40px;
}
.header .cart_container .cart {
    display: inline-block;
    margin-top: 15px;
}
.header .cart_container .cart img {
    display: inline-block;
    margin-right: 5px;
}
/* Slider
------------------------------------------------------------------------------------ */
.slider_container {
    background: #d7d7d7;
    padding: 30px 0;
    min-width: 1220px;
}
.slider_container .wrap {
    padding: 0 40px;
}
.slider_container #slider {
    width: 510px;
    float: right;
}


.bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
    background: #d7d7d7;
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    right: 120%;
    bottom: -10px;
    width: 100%;
}
/* PAGER */
.bx-wrapper .bx-pager {
    text-align: left;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: url(../img/slider/bullets.png) no-repeat;
    text-indent: -9999px;
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    outline: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-position: -14px 0;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
    position: absolute;
    top: 30px;
    right: 130%;
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #1a1a1a;
    display: block;
    font-size: 40px;
    padding: 10px;
}

/* Main content
------------------------------------------------------------------------------------ */
.main_content {
    padding: 20px 0 5px;
}
a.section {
    width: 50%;
    max-height: 260px;
    height: 260px;
    float: left;
    margin-left: -3px;
    margin-bottom: 15px;
    padding-right: 10px;
    position: relative;
}
a.section h1 {
    margin-bottom: 30px;
    display: inline-block;
}
a.section .img_container {
    float: left;
    height: 260px;
    width: 320px;
    margin-right: 15px;
}
a.section .img_container:after {
    content: '';
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 260px;
    display: none;
}
a.section:hover .img_container:after {
    display: block;
}
a.section:hover h1:after {
    content: '';
    background: #2e9f93;
    width: 10px;
    height: 10px;
    float: right;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 7px;
}
/* Catalog
-------------------------------------------------------------------------------------*/
.way {
    margin-bottom: 25px;
}
.way ul li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
    position: relative;
}
.way ul li a {
    font-size: 13px;
    text-transform: none;
}
.way ul li:after {
    content: url(../img/arrow.png);
    position: absolute;
    top: -1px;
    right: -11px;
}
.way ul li:last-child:after {
    content: none;
}
.way ul li:last-child:hover a {
    color: #212121;
    cursor: default;
}
.catalog .catalog_content {
    padding-bottom: 30px;
}
.catalog .catalog_content ul li {
    list-style-type: none;
    display: inline-block;
    width: 380px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.catalog .catalog_content ul li a {
    width: 100%;
    display: block;
    text-align: center;
    text-transform: none;
    height: 100%;
}
.catalog .catalog_content ul li a:hover p {
    color: #212121;
    background: #2e9f93;
}
.catalog .catalog_content ul li a img {
    width: 100%;
    height: 260px;
}

.catalog .catalog_content ul li a p {
    height: 40px;
    background: #d7d7d7;
    font-size: 30px;
    padding-top: 5px;
    margin-top: -6px;
}
/* Category
--------------------------------------------------------------------------------------*/
.category h2 {
    width: 100%;
    background: black;
    text-align: center;
    padding: 8px 0 3px;
    margin-bottom: 25px;
}
.category .filter {
    width: 275px;
    float: left;
    padding-top: 70px;
}
.category .filter h4 {
    margin-bottom: 10px;
    text-decoration: underline;
}
.category .filter h4 ul li {
    list-style-type: disc;
}
.category .filter .price label {
    margin-right: 20px;
}
.category .filter .price input {
    width: 70px;
    height: 25px;
    margin-right: 20px;
    outline: none;
}
.category .filter .price input:last-child {
    margin-right: 0px;
}
.category .filter .price {
    font-size: 15px;
    margin-bottom: 25px;
}
.category .filter .size {
    margin-bottom: 10px;
}
.category .filter .chek li {
    display: inline-block;
    width: 130px;
    font-size: 15px;
    margin-bottom: 15px;
}
.category .filter .chek li input {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    float: left;
    background: white;
}
.category .filter .chek li label {
    padding-top: 4px;
    display: block;
}
.category .filter .color li label {
    font-size: 13px;
}
.category .filter .color {
    margin-bottom: 20px;
}
.category .filter .send {
    text-align: center;
}
.category .filter .send button {
    width: 100%;
    background: #2e9f93;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    padding: 9px 0 9px;
}
.category .filter .send button:hover {
    background: #21cbb9;
}

.inp_container {
    display: inline-block;
}
.inp_container input[type=radio],
.inp_container input[type=checkbox] {
    display: none;
}
.inp_container input[type=radio] + label,
.inp_container input[type=checkbox] + label {
    font-size: 14px;
    color: #717171;
    cursor: pointer;
}
.inp_container input[type=radio] + label::before,
.inp_container input[type=checkbox] + label::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px 0 0;
    background: url(../img/checkbox.png) no-repeat;
}
.inp_container input[type=checkbox]:checked + label::before {
    background-position: -15px 0px;
}
.category .category_content h4 {
    margin-bottom: 25px;
}
.category .category_content h4 a {
    margin-left: 15px;
}
.category .category_content h4 a.active {
    text-decoration: underline;
    color: #2e9f93;
}
.category .category_content ul li {
    width: 270px;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 20px;
}
.category .category_content ul li img {
    width: 100%;
    height: 280px;
}
.category .category_content ul li .info {
    background: #f1f1f1;
    padding: 10px 10px 10px 20px;
    margin-top: -6px;
}
.category .category_content ul li p,
.category .category_content ul li span {
    font-size: 17px;
}
.category .category_content ul li p {
    margin-bottom: 19px;
}
.category .category_content ul li a {
    float: right;
    display: block;
    padding: 8px 8px 5px;
    background: #2e9f93;
    color: white;
}
.category .category_content ul li a:hover {
    background: #21cbb9;
}


/* Content
---------------------------------------*/
.category .category_content {
    float: right;
    width: 840px;
    padding-bottom: 20px;
}
/* Cart
------------------------------------------------------------------------------------ */
.cart_content .left_cart {
    width: 520px;
    float: left;
}
.cart_content .right_cart {
    width: 50%;
    float: right;
}
.cart_content .left_cart ul {
    text-align: justify;
}
.cart_content .left_cart ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}
.cart_content .left_cart ul li {
    display: inline-block;
    width: 160px;
    height: 140px;
    margin-bottom: 20px;
}
.cart_content .left_cart ul li:first-child {
    width: 520px;
    height: 400px;
    display: block;
}
.cart_content .left_cart ul li img {
    width: 100%;
    height: 100%;
}
.cart_content .left_cart ul li:hover img {
    opacity: .9;
}

.cart_content .right_cart .characteristic {
    padding-right: 70px;
}
.cart_content .right_cart .characteristic p.model {
    margin: 20px 0 15px;
}
.cart_content .right_cart .characteristic .price_buy p.price {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}
.cart_content .right_cart .characteristic .price_buy a {
    float: right;
    background: #2e9f93;
    padding: 12px 25px 8px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 1;
}
.cart_content .right_cart .characteristic .price_buy a:hover {
    background: #21cbb9;
}

.cart_content .right_cart table.cart_filter {
    width: 100%;
    margin-top: 20px;
    vertical-align: middle;
}
.cart_content .right_cart table.cart_filter tr td {
    text-align: center;
    font-size: 14px;
    padding: 5px 0 2px;
    line-height: 15px;
}
.cart_content .right_cart table.cart_filter tr td:first-child {
    text-align: left;
    border-right: 1px solid #000;
    width: 145px;
    padding-left: 10px;
}
.cart_content .right_cart table.cart_filter thead tr td {
    border-bottom: 1px solid #000;
}
.cart_content .right_cart table.cart_filter tbody tr:first-child td {
    padding-top: 20px;
}
.cart_content .right_cart table.cart_filter tbody tr td button {
    width: 20px;
    height: 20px;
    margin: 2px;
    display: inline-block;
}
.cart_content .right_cart table.cart_filter tbody tr td button:focus {
    -ms-box-shadow: 0 0 0 2px #fff,
                    0 0 0 3px #000;
    -o-box-shadow: 0 0 0 2px #fff,
                    0 0 0 3px #000;
    -moz-box-shadow: 0 0 0 2px #fff,
                    0 0 0 3px #000;
    -webkit-box-shadow: 0 0 0 2px #fff,
                        0 0 0 3px #000;
    box-shadow: 0 0 0 2px #fff,
                0 0 0 3px #000;
}
.cart_content .right_cart table.cart_filter tbody tr td button.gray {
    background: #999797;
}
.cart_content .right_cart table.cart_filter tbody tr td button.yellow {
    background: #ffff00;
}
.cart_content .right_cart table.cart_filter tbody tr td button.brown {
    background: #752710;
}
.cart_content .right_cart table.cart_filter tbody tr td button.blue {
    background: #5161fa;
}
.cart_content .right_cart table.cart_filter tbody tr td button.pink {
    background: #970dbf;
}

.cart_content .right_cart .social {
    margin: 20px 0;
}
.cart_content .right_cart .social a {
    font-size: 10px;
    display: inline-block;
    color: #fff;
    padding: 3px 8px;
    line-height: 24px;
    margin-right: 20px;
}
.cart_content .right_cart .social a img {
    float: left;
    margin-right: 15px;
}
.cart_content .right_cart .social a.fb {
    background: #335db1
}
.cart_content .right_cart .social a.vk {
    background: #4c75a3
}
.cart_content .right_cart .description h4 {
    font-size: 16px;
    margin-bottom: 15px;
}
/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    background: #d7d7d7;
    padding: 30px 0;
    min-width: 1220px;
}
.footer .footer_nav {
    display: inline-block;
    width: 245px;
}
.footer .footer_nav li {
    margin-top: 25px;
}
.footer .footer_nav li:first-child {
    margin-top: 0;
}
.footer .footer_nav li a {
    font-size: 12px;
}
.footer .footer_image {
    float: right;
}
.footer .footer_image img {
    margin-left: 20px;
}
